<html>
<head>
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height, maximum-scale=1.0"/>
  <meta http-equiv="Content-Type" Content="text/html; charset=utf-8"/>
  <link rel="stylesheet" type="text/css" href="/public/css/custom.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js"
          integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous"></script>
  <script type="text/javascript" src="/public/javascripts/native/proof.js"></script>
  <script type="text/javascript" src="/public/javascripts/proof_example.js"></script>
</head>

<body>
<div id="background">
  <div class="container" id="menu">
    <input type="button" value="getProofAccessToken" onClick="getProofAccessToken();">
    <input type="button" value="closeWebView" onClick="closeWebView();">
  </div>
</div>
</body>
</html>
